@charset "UTF-8";

/* 초기화 */

* {margin: 0; padding: 0;}
        a {text-decoration: none !important;}
        img {border: 0;}
        ul {list-style: none;}

        header, footer, section {
            box-sizing: border-box;
        }

    /* 0~766 모바일 사이즈 */
    
    .header {
        height: 191px;
        background: wheat;
    }

    .header__nav {
        max-width: 1903px;
    }





     /* 767 이상 */
    @media all and (min-width:767px){}


     /* 767 이상 */
    @media all and (min-width:1024px){}