header {
    display: block;
    margin: 0 auto;
    height: 44px;
    width: 250px;
    padding: 60px 0 50px;
}
.naver {
    display: block;
    margin: 0 auto;
    width: 240px;
}
div.join_button{
    margin: 15px 0 8px;
}
    