@charset "UTF-8";

/* 초기화 */

* {
    margin: 0; padding: 0;
    font-family: Arial,  sans-serif;
}
a {text-decoration: none !important;}
img {border: 0;}
ul {list-style: none;}

/* 헤더 */

#main_header {
    height: 390px;
    background: gray;
    color: white;
}

#main_header a {
    color: white;
}

#main_header > .gnb_container {
    background: black;
    height: 60px;
    width: 100%;
    /* fixed를 줄 땐 width는 항상 100%. */
    position: fixed; 
    z-index: 1;
    border-bottom: 1px solid #2b2b2b;
}

#main_header .gnb {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

#main_header .logo {
    float: left;
    width: 190px;
    margin-top: 12px;
}

#main_header ul.nav {
    float: left;
    overflow: hidden;
    padding: 0 60px;
    width: calc(100% - 217px);
}