@charset "UTF-8";

/* 초기화 */

* {margin: 0; padding: 0;}
a {text-decoration: none !important;}
img {border: 0;}
ul {list-style: none;}

header, footer {
    box-sizing: border-box;
}


/* 헤더 */
.main-header {
    background: white;
    position: fixed;
    width: 100%;
    height: 130px;
}

.main-logo {
	max-width: 1200px; 
	height: 80px;
    margin: 0 auto;
    background: yellowgreen;
    display: flex;
    flex-direction: row;
}

.logo {
    float: left;
    background: salmon;
}

.main-nav {
    max-width: 1200px; 
    height: 50px;
    background-color: sandybrown;
    margin: 0 auto;
}

 /* 767 이상 */
@media all and (min-width:767px){

}

/* 1024 이상 */
@media all and (min-width:1024px){

}